
.landingPage {
    background-color: white;

    .bannerImage-container {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .intro-text {
        font-size: 0.95rem;
        max-width: 92%;
        margin: auto;
        line-height: 1.6;
        padding-bottom: 50px;
    }

}