@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

.App {
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100vh;
    border: 0.2px solid white;;
}

#mainContainer {
    position: relative;
    margin-bottom: 100px;
}